@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  display: block;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  font-size: 18px;
  text-align: center;
}

#logo  {
  width: 130px;
  height: 130px;
}

.introduction {
    height: 30rem;
    padding-top: 1rem;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/11/21/30/sport-1450863_960_720.jpg);
    background-position: center;
    background-repeat: none;
}

.introduction h2 {
    color: white;
    font-size: 2rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    text-align: center;
}

div {
  display: block;
}

.navigation {
    padding-top: 1rem;
    background-color: white;
    color: black;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

li {
    color: black;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.summary, .testimonial, .photos {
    margin: 4em auto;
}

.summary {
    padding: 0.1rem;
}

.photos img {
    width: 40%;
    margin: 1.5%;
}

.testimonials {
    background-color: LightSlateGrey;
    height: 16rem;
    padding: 0.1rem;
    padding-top: 1rem;
    color: white;
}

.testimonials h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.testimonials p {
    text-align: center;
}

.meetup {
    margin-bottom: 2rem;
}

.meetup h1 {
    text-align: center;
}

.meetup img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  
}